@import url("./core/css/main.css");

// custom classes
.drop-box {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-radius: 15px;
  margin-bottom: 5rem;
  box-shadow: inset 0px 0px 85px -35px #fff;
  transition: all 0.5s ease;
  &::before {
    content: "";
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 100%;
    transform: perspective(120px) rotateX(70deg);
    filter: blur(15px);
    pointer-events: none;
  }
  .item {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    .item-real {
      z-index: 10;
    }
    .item-shadow {
      width: 70%;
      top: 50%;
      transform: perspective(120px) rotateX(-60deg);
      filter: blur(15px);
    }
  }
}

.item-list {
  width: 100%;
  height: auto;
  background-color: transparent;
  box-shadow: inset 0px 0px 85px -25px #fff;

  border-radius: 15px;
  .item {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    .item-real {
      z-index: 10;
    }
    .item-shadow {
      width: 70%;
      top: 50%;
      transform: perspective(120px) rotateX(-60deg);
      filter: blur(15px);
    }
  }
}

.bg-success {
  background-color: rgba(0, 255, 0, 0.726);
}
.bg-error {
  background-color: rgba(255, 0, 0, 0.726);
}

.logBox{
  position: absolute;
  width: auto;
  height: auto;
  padding: 30px 30px;
  background-color: rgba(37, 36, 36, 0.9);
  border-radius: 15px;
  // box-shadow: inset 0px 0px 85px -35px rgba(35, 83, 3, 0.308);
  display: none;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 30px;
  color: rgb(8, 241, 86);
  z-index: 1000;
}
.show{
  display: flex;
}
.my-handle{
  width: 20px;
  height: 20px;
  background-color: red;
}


@media screen and (max-width: 960px) {
 .logBox{
  font-size: 18px;
 }
}

